:root {
  --cinza-muito-escuro: hsl(217, 19%, 35%);
  --cinza-escuro: hsl(214, 17%, 51%);
  --cinza-claro: hsl(212, 23%, 69%);
  --cinza-muito-claro: hsl(210, 46%, 95%);

  --font-family: "Manrope", sans-serif;
}

body {
  font-family: var(--font-family);
  font-size: 1rem;
  background: var(--cinza-muito-claro);
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  /* margin-top: 2rem; */
  justify-content: center;
  height: 100vh;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
  body {
    padding: 5rem 10rem;
  }
}

@media screen and (min-width: 1200px) {
  body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0 20rem;
  }
}
