.container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0px 0px 8px 8px;
}

.containerMain__titulo {
  font-weight: 700;
  color: var(--cinza-muito-escuro);
  line-height: 1.5;
  padding: 2.5rem 2rem 1rem;
}

.containerMain__titulo__paragrafo {
  font-weight: 500;
  font-size: 0.813rem;
  line-height: 1.5;
  color: var(--cinza-escuro);
  margin-bottom: 2rem;
  padding: 0 2rem;
}
